fish_history
.vim/bundle/*
!.vim/bundle/neobundle.vim
# .vim/colors/dracula.vim
.init.vim-rplugin*
.vim/.netrwhist
*.db
.config/iruby/profile_default/security

#atom
.atom/.apm
.atom/.node-gyp
.atom/dev
.atom/compile-cache
.atom/packages
.atom/blob-store
.atom/storage
.atom/config.cson


# pw
pw.vim
