fish_history
.vim/bundle/*
!.vim/bundle/neobundle.vim
# .vim/colors/dracula.vim
.init.vim-rplugin*
.vim/.netrwhist
*.db
*.zwc
.zsh_history
.zsh_sessions

.gdb_history

#atom
.atom/.apm
.atom/.node-gyp
.atom/dev
.atom/compile-cache
.atom/packages
.atom/blob-store
.atom/storage
.atom/config.cson


# pw
pw.vim
pw.zsh

#.config
# .config/*
# !.config/nvim
# !.config/fish
# !.config/git
# !.config/peco
.config/fish/fishd.*

.emacs.d/games

.chpwd-recent-dirs

